.selectContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

@media (min-width: 640px) {
    .daysContainer {
        padding: 2rem 0;
    }
}