html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #E8E8FF;
}

:root {
    --font-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #E8E8FF;
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
}